.Reg{
    padding: 100px 700px;
    background-color:white;
}
.b{
    width: 258px;
    height: 30px;
    background-color: #6495ED;
    box-shadow: 0px 0px 0px black;
}
.user{
    width: 250px;
    height: 30px;
    }
.box{
    margin-top: 3%;
    margin-left: 42%;
}
.p{
    margin-right: 73%;
}